In [13]:
#Pandas Series
# simple Pandas Series
import pandas as pd
a=[1,7,2]
var=pd.Series(a)
print(var)

0    1
1    7
2    2
dtype: int64

In [14]:
# Create Labels-with the index argument
import pandas as pd
a=[1,7,2]
var=pd.Series(a,index=["x","y","z"])
print(var)
# With label:
print(var["x"])
# Without label:
print(var[0])

x    1
y    7
z    2
dtype: int64
1
1

In [15]:
# Key/Value Objects as Series
import pandas as pd
calories={"day1":200,"day2":300,"day3":400}
var=pd.Series(calories)
print(var)
print(var[0])
print(var["day3"])

day1    200
day2    300
day3    400
dtype: int64
200
400

In [16]:
#examples of series
import pandas as pd
mylist=[10,20,30,40]
print(mylist)
Series=pd.Series(mylist)
print(Series)

[10, 20, 30, 40]
0    10
1    20
2    30
3    40
dtype: int64

In [17]:
import pandas as pd
mylist=[10,20,30,40]
Series=pd.Series(mylist,index=["A","B","C","D"])
print(Series)

A    10
B    20
C    30
D    40
dtype: int64

In [18]:
import pandas as pd
fruits=["apple","orange","banana","cherry"]
Series=pd.Series(fruits,index=["A","B","C","D"])
print(Series)
print(Series["A"])

A     apple
B    orange
C    banana
D    cherry
dtype: object
apple

In [19]:
import pandas as pd
mydataset={"car1":"BMW","car2":"Volvo","car3":"Ford"}
myvar=pd.Series(mydataset)
print(myvar)

car1      BMW
car2    Volvo
car3     Ford
dtype: object

In [20]:
# DataFrames
import pandas as pd
data={"cars":["bmw","volvo","ford"],"passings":[3,5,7]}
var=pd.DataFrame(data)
print(var)

    cars  passings
0    bmw         3
1  volvo         5
2   ford         7

In [22]:
import pandas as pd
data={"calories":[200,300,400],"duration":[20,30,40]}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       200        20
1       300        30
2       400        40

In [25]:
#Locate Row
import pandas as pd
data={"calories":[200,300,400],"duration":[20,30,40]}
df=pd.DataFrame(data)
print(df)
# Return row 0:
print(df.loc[0])

   calories  duration
0       200        20
1       300        30
2       400        40
calories    200
duration     20
Name: 0, dtype: int64

In [27]:
import pandas as pd
data={"calories":[200,300,400],"duration":[20,30,40]}
df=pd.DataFrame(data)
print(df)
# Return row 0 and 1:
print(df.loc[[0,1]])

   calories  duration
0       200        20
1       300        30
2       400        40
   calories  duration
0       200        20
1       300        30

In [31]:
# Read CSV-
# A simple way to store big data sets is to use CSV files
import pandas as pd
df=pd.read_csv('income.csv')
# print(df.to_string())
print(df)

        Name  Age  Income($)
0        Rob   27      70000
1    Michael   29      90000
2      Mohan   29      61000
3     Ismail   28      60000
4       Kory   42     150000
5     Gautam   39     155000
6      David   41     160000
7     Andrea   38     162000
8       Brad   36     156000
9   Angelina   35     130000
10    Donald   37     137000
11       Tom   26      45000
12    Arnold   27      48000
13     Jared   28      51000
14     Stark   29      49500
15    Ranbir   32      53000
16    Dipika   40      65000
17  Priyanka   41      63000
18      Nick   43      64000
19      Alia   39      80000
20       Sid   41      82000
21     Abdul   39      58000

In [30]:
# use to_string() to print the entire DataFrame
import pandas as pd
df=pd.read_csv('income.csv')
print(df.to_string())

        Name  Age  Income($)
0        Rob   27      70000
1    Michael   29      90000
2      Mohan   29      61000
3     Ismail   28      60000
4       Kory   42     150000
5     Gautam   39     155000
6      David   41     160000
7     Andrea   38     162000
8       Brad   36     156000
9   Angelina   35     130000
10    Donald   37     137000
11       Tom   26      45000
12    Arnold   27      48000
13     Jared   28      51000
14     Stark   29      49500
15    Ranbir   32      53000
16    Dipika   40      65000
17  Priyanka   41      63000
18      Nick   43      64000
19      Alia   39      80000
20       Sid   41      82000
21     Abdul   39      58000

In [32]:
import pandas as pd
df=pd.read_csv('sample.csv')
print(df)

    fname   lname address
0    teja  manchi     vij
1  ragini     NaN      up
2     NaN   reddy     hyd
3    nani    john     hyd

In [35]:
import pandas as pd
df=pd.read_csv('income.csv')
# •The head() method returns the headers and a specified number of rows, starting from the top
print(df.head(5))
print(df.tail(5))
print(df.info())

      Name  Age  Income($)
0      Rob   27      70000
1  Michael   29      90000
2    Mohan   29      61000
3   Ismail   28      60000
4     Kory   42     150000
        Name  Age  Income($)
17  Priyanka   41      63000
18      Nick   43      64000
19      Alia   39      80000
20       Sid   41      82000
21     Abdul   39      58000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       22 non-null     object
 1   Age        22 non-null     int64
 2   Income($)  22 non-null     int64
dtypes: int64(2), object(1)
memory usage: 656.0+ bytes
None

In [39]:
# If you have a large DataFrame with many rows, Pandas will only return the first 5 rows,
# and the last 5 rows:
import pandas as pd
pd.options.display.max_rows=10
df=pd.read_csv('income.csv')
print(df)

        Name  Age  Income($)
0        Rob   27      70000
1    Michael   29      90000
2      Mohan   29      61000
3     Ismail   28      60000
4       Kory   42     150000
..       ...  ...        ...
17  Priyanka   41      63000
18      Nick   43      64000
19      Alia   39      80000
20       Sid   41      82000
21     Abdul   39      58000

[22 rows x 3 columns]

In [40]:
# Cleaning Empty Cells
# Remove Rows
import pandas as pd
df=pd.read_csv('sample.csv')
print(df)

    fname   lname address
0    teja  manchi     vij
1  ragini     NaN      up
2     NaN   reddy     hyd
3    nani    john     hyd

In [41]:
# Return a new Data Frame with no empty cells
import pandas as pd
df=pd.read_csv('sample.csv')
new_df=df.dropna()
print(new_df.to_string())

  fname   lname address
0  teja  manchi     vij
3  nani    john     hyd

In [43]:
import pandas as pd
df=pd.read_csv('sample.csv')
df.dropna(inplace=True)
print(df.to_string())

  fname   lname address
0  teja  manchi     vij
3  nani    john     hyd

In [44]:
# Replace Empty Values
import pandas as pd
df=pd.read_csv('sample.csv')
df.fillna("darshe",inplace=True)
print(df.to_string())

    fname   lname address
0    teja  manchi     vij
1  ragini  darshe      up
2  darshe   reddy     hyd
3    nani    john     hyd

In [46]:
# Replace Only For Specified Columns
import pandas as pd
df=pd.read_csv('sample.csv')
df["fname"].fillna("darshe",inplace=True)
print(df.to_string())

    fname   lname address
0    teja  manchi     vij
1  ragini     NaN      up
2  darshe   reddy     hyd
3    nani    john     hyd

In [51]:
import pandas as pd
df=pd.read_csv('data.csv')
df.loc[df["lname"].isnull(),"lname"]=["john","doe"]
print(df.to_string())

     fname    lname
0     teja     john
1      NaN  lakshmi
2   manchi    singh
3  preethi      doe

In [57]:
# Removing Duplicates
import pandas as pd
df=pd.read_csv('data1.csv')
print(df.duplicated())

0    False
1    False
2    False
3    False
dtype: bool

In [58]:
import pandas as pd
df=pd.read_csv('data1.csv')
df.drop_duplicates(inplace=True)
print(df.to_string)

<bound method DataFrame.to_string of      fname    lname
0     teja      NaN
1      NaN  lakshmi
2   manchi    singh
3  preethi    singh>

In [4]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df)

     fname    lname  add      mobile
0     teja      NaN  vij  9390151089
1      NaN  lakshmi  hyd     2345678
2   manchi    singh   up  1234567890
3  preethi      NaN   ad   987654321

In [3]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df["lname"].isnull())

0     True
1    False
2    False
3     True
Name: lname, dtype: bool

In [5]:
import pandas as pd
df=pd.read_csv('data.csv')
df["lname"].fillna("manchi",inplace=True)
print(df)

     fname    lname  add      mobile
0     teja   manchi  vij  9390151089
1      NaN  lakshmi  hyd     2345678
2   manchi    singh   up  1234567890
3  preethi   manchi   ad   987654321

In [8]:
import pandas as pd
df=pd.read_csv('data.csv')
df.loc[df["lname"].isnull(),"lname"]=["manchi","mohan"]
print(df)

     fname    lname  add      mobile
0     teja   manchi  vij  9390151089
1      NaN  lakshmi  hyd     2345678
2   manchi    singh   up  1234567890
3  preethi    mohan   ad   987654321

In [9]:
import pandas as pd
df = pd.read_csv('data.csv')
df.loc[1,'mobile'] = 3456789012
print(df.to_string())

     fname    lname  add      mobile
0     teja      NaN  vij  9390151089
1      NaN  lakshmi  hyd  3456789012
2   manchi    singh   up  1234567890
3  preethi      NaN   ad   987654321

In [12]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df["mobile"].isnull())

0    False
1    False
2    False
3    False
Name: mobile, dtype: bool

In [13]:
import pandas as pd
df=pd.read_csv('data.csv')
df.loc[3,"mobile"]=4567891256
print(df.to_string())

     fname    lname  add      mobile
0     teja      NaN  vij  9390151089
1      NaN  lakshmi  hyd     2345678
2   manchi    singh   up  1234567890
3  preethi      NaN   ad  4567891256

In [ ]:
import pandas as pd
df=pd.read_csv('sample.csv')
print(df)